.gold-membership-container {
  padding: 20px;
  text-align: center;
}

.gold-membership-container h1 {
  color: #ffd700; /* Use hex code for gold color */
}

.gold-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.feature {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature h2 {
  margin-bottom: 10px;
  color: #dc5618; /* Use hex code for the color */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.feature img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin-left: 20px;
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
